In [5]:
x=5
type(x)

int

In [6]:
x=5.2
type(x)

float

In [7]:
x='string'
type(x)

str

In [8]:
var1=2
var2=5.0

In [9]:
var1

2

In [10]:
var2

5.0

In [11]:
type(var1)

int

In [12]:
type(var2)

float

In [13]:
print(var1)

2

In [14]:
print(var2)

5.0

In [15]:
mystring='this is python'
print(mystring)

this is python

In [16]:
print(var1,var2,mystring)

2 5.0 this is python

In [17]:
var1+var2

7.0

In [18]:
var1*var2

10.0

In [19]:
round(1.23456)

1

In [20]:
round(1.23456,3)

1.235

In [21]:
import math

In [22]:
math.ceil(1.23456)

2

In [23]:
math.floor(1.23456)

1

In [24]:
abs(-1.23456)

1.23456

In [27]:
pow(2,2)

4

In [28]:
numbers=range(1,5)

In [29]:
numbers

range(1, 5)

In [30]:
type(numbers)

range

In [32]:
for i in numbers:
    print(i)

1
2
3
4

In [33]:
len(numbers)

4

In [35]:
for i in numbers:
    print(i, end=",")

1,2,3,4,

In [36]:
if var1>1:
    print("bigger")

bigger

In [37]:
if var1>1:
    print("bigger")
else:
    print("smaller")

bigger

In [38]:
x=10
y=12
if x>y:
    print("x>y")
elif x<y:
    print("x<y")
else:
    print("x=y")

x<y

In [39]:
i=1
while i<5:
    print(i)
    i=i+1
print("bye")

1
2
3
4
bye

In [40]:
i=1
while i<5:
    print(i)
    i=i+1
    if i==4:
        break
print("bye")

1
2
3
bye

In [44]:
var1=3
var2=5.0

In [45]:
if var1>1:
    print("var1 is bigger")

var1 is bigger

In [46]:
if var1>1:
    print("bigger")
else:
    print("smaller")

bigger

In [47]:
var1=0

In [48]:
x=10
y=12
if x>y:
    print("x>y")
elif x<y:
    print("x<y")
else:
    print("x=y")

x<y

In [50]:
a=0 if x>10 else 1

In [51]:
a

1

In [52]:
i=1
while i<5:
    print(i)
    i=i+1
print("bye")

1
2
3
4
bye

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
i=1
while i<5:
    print(i)
    i=i+1
    if i==4:
        break
print("bye")

1
2
3
bye

In [56]:
#list-[] hetrogenous data square bracket mutable-changeable
# tuple-()-round brackets hetrogenous data immutable-values can not be changed.

In [57]:
list1=["computer","printer","tv","camera",89,30.8]

In [58]:
list1

['computer', 'printer', 'tv', 'camera', 89, 30.8]

In [59]:
tuple1=("computer","printer","tv","camera",89,30.8)

In [60]:
tuple1

('computer', 'printer', 'tv', 'camera', 89, 30.8)

In [61]:
list1[0]="pc"

In [62]:
list1

['pc', 'printer', 'tv', 'camera', 89, 30.8]

In [63]:
tuple1[0]="pc"

TypeError: 'tuple' object does not support item assignment

In [64]:
#sets={}round brackets-ordered list of non-repeated items indexing doesnot works

In [68]:
set1=set(["computer","printer","tv","camera",89,30.8,"Camera"])

In [69]:
set1

{30.8, 89, 'Camera', 'camera', 'computer', 'printer', 'tv'}

In [70]:
#dictionary-{}-curly braces -key:pair, alphabets-english letter,(word-meaning)
#dictionary.key-immutable(not changeable).value(mutable-changeable) Indexing doesnot work

In [71]:
dict1={"monday":1,"tuesday":2,"wednesday":3}

In [72]:
dict1

{'monday': 1, 'tuesday': 2, 'wednesday': 3}

In [2]:
fruits = ['apple', 'orange', 'banana', 'papaya']
fruits[0]

'apple'

In [3]:
fruits[1:3]

['orange', 'banana']

In [4]:
fruits[-1]

'papaya'

In [5]:
len( fruits )

4

In [6]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']

In [7]:
all_fruits = fruits + seasonal_fruits

In [8]:
print(all_fruits)

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon']

In [9]:
'banana' in all_fruits

True

In [11]:
all_fruits.index('banana')

2

In [12]:
a = [1,1,2,4,5,6,7]

In [13]:
min(a)

1

In [14]:
max(a)

7

In [15]:
a.count( 1 )

2

In [16]:
a.insert( 3, 4 )

In [17]:
a

[1, 1, 2, 4, 4, 5, 6, 7]

In [18]:
a.reverse()

In [19]:
a

[7, 6, 5, 4, 4, 2, 1, 1]

In [20]:
a.sort()

In [21]:
a

[1, 1, 2, 4, 4, 5, 6, 7]

In [22]:
tup1 = ( 1, 3, 'orange' )

In [23]:
tup1

(1, 3, 'orange')

In [24]:
tup1[1] = 'a'

TypeError: 'tuple' object does not support item assignment

In [25]:
tupa = tuple( a )

In [26]:
tupa

(1, 1, 2, 4, 4, 5, 6, 7)

In [27]:
b = set( [6,1,1,2,4,5] )

In [28]:
b.add( 3 )

In [29]:
c = set( [2,4,6,7] )

In [30]:
c.union( b )

{1, 2, 3, 4, 5, 6, 7}

In [31]:
b.intersection( c )

{2, 4, 6}

In [32]:
c.difference( b )

{7}

In [33]:
b.remove

In [34]:
b

{1, 2, 3, 4, 5, 6}

In [35]:
b.clear()

In [36]:
b

set()

In [37]:
for i in a:
  print( i * 2 )

2
2
4
8
8
10
12
14

In [39]:
for i in b:
    print( i )

In [40]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

In [41]:
d2 = dict( zip(names,numbers) )

In [42]:
d2

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [43]:
d2.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

In [44]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [45]:
d2['six'] = 6

In [46]:
d2

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'six': 6}

In [47]:
string0 = 'python'
string1 = "Data Science"
string2 = '''This is Data science 
        workshop
        using Python'''

In [48]:
print( string0, string1, string2)

python Data Science This is Data science
        workshop
        using Python

In [49]:
string2.find( "Python" )

53

In [50]:
string0.capitalize()

'Python'

In [51]:
string0.upper()

'PYTHON'

In [52]:
string2.split()

['This', 'is', 'Data', 'science', 'workshop', 'using', 'Python']

In [53]:
string2.replace( 'Python', 'R')

'This is Data science \n        workshop\n        using R'